In [2]:
import pandas as pd

In [23]:
mydict = [{'a': {'aa': 1, 'bb': 2, 'cc': 3, 'dd': 4}, 'b': 2, 'c': 3, 'd': 4},

          {'a': 100, 'b': 200, 'c': 300, 'd': 400},

          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
print(mydict)
df = pd.DataFrame(mydict)

[{'a': {'aa': 1, 'bb': 2, 'cc': 3, 'dd': 4}, 'b': 2, 'c': 3, 'd': 4}, {'a': 100, 'b': 200, 'c': 300, 'd': 400}, {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000}]

In [24]:
df

                                      a     b     c     d
0  {'aa': 1, 'bb': 2, 'cc': 3, 'dd': 4}     2     3     4
1                                   100   200   300   400
2                                  1000  2000  3000  4000

In [11]:
df.iloc[[0]]

   a  b  c  d
0  1  2  3  4

In [20]:
df.iloc[:,2:]

      c     d
0     3     4
1   300   400
2  3000  4000

In [15]:
df.iloc[[0], [1]]

   b
0  2